@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
}


@media only screen and (min-width: 90em) {
     html {
         font-size: 120%;
     }
    
}

@media only screen and (min-width: 120em) {
     html {
         font-size: 130%;
     }
    
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
}


a:focus {
    outline: 3px solid #A00000;
}

.skip-links {
    margin:0;
    padding:0;
    list-style-type: none;
}

.skip-links a{
    position:absolute;
    top:-3em;
}

.skip-links a:focus {
    top:0;
    color:white;
    text-decoration: none;
    background-color: black;
    padding: 1rem;
    border: 1px solid #A00000;
    margin: .5rem;
}

.nav {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
   
}

.nav ul {
    padding-left:0;
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
}

.nav ul li{
    overflow: hidden;
    margin:0;
    padding-left: 0;
    list-style: none;
    width:auto;
    text-decoration: none;
    text-align: center;
    font-size:1.5rem;
    overflow: hidden;
    
}
    
.nav ul li a{
    text-decoration: none;
    padding:.2em 1em;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: white;
    text-decoration: none;
    padding:1rem;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    border-bottom: 1px dotted white;
}

h1,h2,h3 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: capitalize; 
}

.jivelogo {
    height: 8em;
    width: auto;
    display: block;
    margin:1rem auto 0;
}

.nav-btm {
    list-style: none;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
}

.nav-btm ul{
    list-style-type: none;
    text-decoration: none;
    padding-left:0;
    overflow: hidden;
}

.nav-btm li {
    margin: 0;
    width:auto;
    font-size:1rem;
    padding: 0;
    text-decoration: none;
}

.nav-btm a,
.nav-btm a:link,
.nav-btm a:visited {
    display: block;
    color: white;
    text-decoration: none;
    padding:1rem;
}

.nav-btm a:hover,
.nav-btm a:focus,
.nav-btm a:active,
.nav-btm .nav-current,
.nav-btm .nav-current:link,
.nav-btm .nav-current:visited {
    color: white;
    border-bottom: dotted 1px white;
}

.red{
    background-color: #A00000 ;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.billboard {
    background-size: cover;
    color:white;
    padding: 1.75rem 3rem 1.5rem;
    background-color: rgba(64,64,64,0.9);
    background-image: url(../images/flowers.jpg);
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4)
}

.billboardpricing {
    background-size: cover;
    color:white;
    padding: 1.75rem 3rem 1.5rem;
    background-color: rgba(64,64,64,0.9);
    background-image: url(../images/sunset2.jpg);
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4)
}

.billboardsignup {
    background-size: cover;
    color:white;
    padding: 1.75rem 3rem 1.5rem;
    background-color: rgba(64,64,64,0.9);
    background-image: url(../images/boat.jpg);
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6)
}

.billboard h1,
.billboardpricing h1,
.billboardsignup h1{
    font-size: 2.5rem;
    line-height: 2.5rem
}

.billboard h3,
.billboardpricing h3,
.billboardsignup h3{
    text-transform: none;
    font-weight: normal;
    line-height: 1.75rem;   
}

.tellmemore {
    text-decoration: none;
    border-bottom: 1px dotted white;
    color:white;
}

.signupbutton a,
.signupbutton a:link,
.signupbutton a:visited{
    padding:1rem 4rem 1rem;
    background-color: #FFF;
    color:#000;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: 3px solid #a00;
    margin: -1rem auto 0;
    position: center;
}
    
.signupbutton a:hover{
    background-color: #A00;
    color:white;
    border: 3px solid black;
}

.signupbutton{
    text-align: center;
}

.signupfree a{
    text-decoration: none;
    text-align: center;
    align-content: center;
    display: block;
    border: 3px solid #a00;
    padding:1rem 0 1rem;
    width: 100%;
    font-size:1.5rem;
    text-transform: capitalize;
    font-weight: bold;
    color:black;
    background-color: white;
    overflow: hidden;
}

.signupfree a:hover{
    background-color: #a00;
    color:white;
    border: 3px solid black;
}

.signupfree{
    list-style-type: none;   
}

.lightgrey{
    background-color: #efefef;   
}

.icons{
    margin: 0 auto 0;
}

.describe{
    margin:0 2rem 0;
    text-align: center;
}

.bubbles{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
}

.bubble-left{
    background-image: url(../images/bubble-left.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20em;
    padding-bottom: 5.5rem;
    height: auto;
    text-align: left;
    margin: 0 auto 0;
}

.bubble-right{
    background-image: url(../images/bubble-right.svg);
    background-repeat: no-repeat;
    padding-bottom: 5.5rem;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 0;
}

.review{
    margin: 3rem 4rem 0;
}

.pricing {
    border: 1px solid #a0a0a0;
    background-color: white;
    padding: 1.5rem 1.5rem 1rem;

}

.pricingfree {
    border: 1px solid #a0a0a0;
    background-color: white;
    padding: 1.5rem 1.5rem 1rem;
}
.pricingfree p{
  margin: 1rem auto 0;   
}

.pricing h3,{
 margin: 1rem auto 1rem;   
}

.pricing p{
    margin:1rem auto 0;
}

.pricingsection figure img{
    height: 3rem;

}

.icontext{
    padding: 1rem;
    text-align: center;
    
}

.icontext:last-child{
    margin-right: 0;
}

.centertext {
    text-align: center;
    list-style-type: none;
    line-height: 2rem;
    padding-bottom: 1rem;
}

fieldset{
 border-color: #a00;   
}

.list{
    
}

.innerbody {
}

hr{
    border: solid 15px #a00000;
}

fieldset{
    font-size: 2rem;
    margin: 0 auto 0;
    width: 100%;
}

label{
    display:block;
    font-size: 1.25rem;
}

input, 
textarea,
select{
 font-size: 1.5rem;
}

input,
select{
 width: 100%   
}


form div{
    padding-bottom: 1rem;   
}

button{
    text-decoration: none;
    text-align: center;
    align-content: center;
    display: block;
    border: 3px solid #a00;
    padding:1rem 0 1rem;
    width: 100%;
    font-size:1.5rem;
    text-transform: capitalize;
    color:black;
    background-color: white;
    overflow: hidden;
    cursor:pointer;
    font-family: 'Open Sans Condensed', sans-serif;
}

button:hover{
    background-color: #A00;
    color:white;
    border: 3px solid black;

}
.formpad{
    margin:0 auto 0;   
}       


@media only screen and (min-width: 20em){
    
    .nav ul {
        margin:1rem auto 0;
    }

     .nav ul li {
         display:inline-block;
         width: 45%;
     } 
    
     .pricing,
     .pricingfree{
        margin:0 .5rem 0;   
    }
    
    .formpad{
        margin:0 .5rem 0;   
    }

}

@media only screen and (min-width: 30em){
    
    .pricing,
    .pricingfree{
        margin:0 3rem 0;   
    }
    
    .formpad{
        margin:0 4rem 0;   
}
    
    
}

@media only screen and (min-width: 40em) {
    
    .billboard {
        background-color: #efefef;
        color:black;
        padding:1.6rem 8rem 1rem;
        box-shadow: inset 0 0 0 1000px rgba(90,90,90,.5)
    }
    
    .billboardpricing{
        color:black;
        box-shadow: inset 0 0 0 1000px rgba(90,90,90,.5)
    }
    
    .billboardsignup{
        color:black;
        box-shadow: inset 0 0 0 1000px rgba(90,90,90,.5)
        
    }
    
    .jivelogo {
        float:left;
        display: inline;
        margin: 1.5rem 1.5rem;
        width: auto;
    }
    
      .nav ul{
        margin:4.3rem 0 0;
        width:100%;
        
    }
    
    .list {
        text-align: center;
        list-style-type: none;
        padding-bottom: 0;
    }
    
    .nav-btm ul{
        margin: 1rem auto 0;
    }
    
    .nav-btm ul li {
        display: inline-block;
        width:30%
    }
    
    .signup {
     background-color: #a00;   
    }
    
    .tellmemore{
    color:#A00;
    border-bottom: 1px dotted #A00;
    
    }
    
    .bubble{
        float:left;
        margin:0 -3rem 0;
    }
    
     .pricing {
        margin:0 2rem 0;   
    }
    
    .pricingfree {
        margin: 8.8rem 2rem 0;   
    }
    
    .formpad{
        margin:0 10rem 0;   
}    
}


@media only screen and (min-width: 50em) {
     .pricing {
        margin:0 3rem 0;   
    }
    
     .pricingfree {
     margin: 7.5rem 3rem 0;   
    }
    
    .formpad{
        margin:0 15rem 0;   
}
    
}

@media only screen and (min-width: 60em) {
    
    
     .billboard {
        background-color: #efefef;
        color:black;
        padding:1.6rem 15rem 1rem;
    }
    
    .jivelogo {
        float:left;
        display: inline;
        margin: 1.5rem 1.5rem;
        width: auto;
    }
    
    .nav {
        float:right;
        
    }
    
    .nav ul{
        margin:3.8rem 0 0;
        width:100%;
        
    }    
    
     .nav ul li {
     width: 10rem;
    } 
    
    .nav-btm {
        float:right;
    }
    
    .nav-btm ul{
        margin: 1rem auto 0;
    }
    
      .nav-btm ul li {
        display: inline-block;
        width:30%
    }
    
    .innerbody {
        margin:0rem 5rem 0rem;
    }
    
    .circlecenter{
        margin:0 auto .5rem;
    }
    
    .legal{
        margin:3rem 0 0 1.5rem;
        float:left;
    }
    
     .pricing {
        margin:0 6rem 0;   
    }
    
     .pricingfree {
     margin: 8.8rem 6rem 0;   
    }
    
    .formpad{
        margin:0 20em 0;   
    }
}


.friends {
    width: 100%;
    padding: 8rem 0;
    position: relative;
    background-image: url(../images/music.jpg);
    background-size: cover;
    overflow: hidden;
}

.sunset {
    width: 100%;
    padding: 8rem 0;
    position: relative;
    background-image: url(../images/sunset2.jpg);
    background-size: cover;
    overflow: hidden;
}

.boat {
    width: 100%;
    padding: 8rem 0;
    position: relative;
    background-image: url(../images/boat.jpg);
    background-size: cover;
    overflow: hidden;
}

img {
    display:block;
    width:100%;
}



.playlists {
    padding-left:0;
    padding-right: 0;
    list-style-type: none;
}


.playlists a {
    text-align:center;
    text-decoration:none;
    list-style-type: none;
    text-align:center;
    color: #614D37;
    overflow: hidden;
    font-family: 'Open Sans Condensed', sans-serif;
  
}

.playlists figure {
    padding-left: 0;
    margin-bottom: 0;

}

.footer{
    padding: 0 0 5rem 0;
    overflow: hidden;
}

.legal{
    text-align: center;
    color:white;
}



