@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
}




@media only screen and (min-width: 90em) {
     html {
         font-size: 120%;
     }
    
}

@media only screen and (min-width: 120em) {
     html {
         font-size: 130%;
     }
    
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
}


a:focus {
    outline: 3px solid #A00000;
}

.skip-links {
    margin:0;
    padding:0;
    list-style-type: none;
}

.skip-links a{
    position:absolute;
    top:-3em;
}

.skip-links a:focus {
    top:0;
    color:white;
    text-decoration: none;
    background-color: black;
    padding: 1rem;
    border: 1px solid #A00000;
    margin: .5rem;
}

.nav {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
   
}

.nav ul {
    padding-left:0;
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
}

.nav ul li{
    overflow: hidden;
    margin:0;
    padding-left: 0;
    list-style: none;
    width:auto;
    text-decoration: none;
    text-align: center;
    font-size:1.5rem;
    overflow: hidden;
    
}
    
.nav ul li a{
    text-decoration: none;
    padding:.2em 1em;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: white;
    text-decoration: none;
    padding:1rem;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    background-color: white;
    color: black;
}

.jivelogo {
    height: 8em;
    width: auto;
    display: block;
    margin:1rem auto 0;
}

.nav-btm {
    list-style: none;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
}

.nav-btm ul{
    list-style-type: none;
    text-decoration: none;
    padding-left:0;
    overflow: hidden;
}

.nav-btm li {
    margin: 0;
    width:auto;
    font-size:1rem;
    padding: 0;
    text-decoration: none;
}

.nav-btm a,
.nav-btm a:link,
.nav-btm a:visited {
    display: block;
    color: white;
    text-decoration: none;
    padding:1rem;
}

.nav-btm a:hover,
.nav-btm a:focus,
.nav-btm a:active,
.nav-btm .nav-current,
.nav-btm .nav-current:link,
.nav-btm .nav-current:visited {
    background-color: white;
    color: black;
    border: solid 5px #A00000;
}

.teal{
    background-color: #A00000 ;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.billboard {
    background-color: #a0a0a0;
    color:white;
    padding: 1.5rem 3rem 1.5rem;
    background-color: rgba(64,64,64,0.6);
}


.billboard h1{
    text-transform: none;
    font-size: 2.5rem;
    line-height: 2.5rem
}

.billboard h3{
    text-transform: none;
    font-weight: normal;
    line-height: 1.75rem;   
}


.calltoaction {
    bottom: 0;
    padding:5rem 1rem 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgba(160,0,0,0.3);
    color: #fff;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    overflow: hidden;
}

.tellmemore {
    text-decoration: none;
    border-bottom: 1px dotted white;
    color:white;
}

.signupbutton a,
.signupbutton a:link,
.signupbutton a:visited{
    padding:1rem 4rem 1rem;
    background-color: #FFF;
    color:#000;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: 3px solid #a00;
    margin: -1rem auto 0;
    position: center;
}
    
.signupbutton a:hover{
    background-color: #A00;
    color:white;
    border: solid 3px white;
}

.signupbutton{
    text-align: center;
}

.icons{
    width:8em;
    margin: 0 auto 0;
}

.describe{
    margin:0 2rem 0;
    text-align: center;
}

.bubble-left{
    background-image: url(../images/bubble-left.png);
    width: 100%;
    background-size:25rem;
    background-repeat: no-repeat;
     padding-bottom: 2rem;
    height: 100%;
    text-align: center;
}

.bubble-right{
    background-image: url(../images/bubble-right.png);
    width: 100%;
    background-size:25rem;
    background-repeat: no-repeat;
    padding-bottom: 3rem;
    height: 100%;
    text-align: center;
}

.review{
    margin: 4rem;
}

.pricing {
 border: 1px solid #a0a0a0;
    margin:1rem 2rem 0rem;
}

.pricing h3,
.pricing p{
 margin: 1rem auto 1rem;   
}

.centertext {
    text-align: center;
    list-style-type: none;
    line-height: 2rem;
    padding-bottom: 1rem;
}
.circle1 {
    background: #A00000;
    width: 285px;
    height: 285px;
    margin:0 auto 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
   
}

fieldset{
 border-color: #a00;   
}

.circletype1 {
    align-content: center;
    text-align: center;
    margin:0 auto 0;
    padding:5rem 2rem;
    color:white;
}

.circle2 {
    background: #A00000;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    margin:.5rem auto 1rem;
}

.circletype2 {
    align-content: center;
    text-align: center;
    margin:0 auto 0;
    padding:5rem 2rem;
    color:white;
}

.circle3 {
    background: #A00000;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    margin: -.5rem auto 2rem;
}

.circletype3 {
    align-content: center;
    text-align: center;
    margin:0 auto 0;
    padding:6rem 2.2rem;
    color:white;
}


.list{
    
}

.innerbody {
}

hr{
    border: solid 15px #a00000;
}

@media only screen and (min-width: 20em){
    
    .nav ul {
        margin:1rem auto 0;
    }

     .nav ul li {
         display:inline-block;
         width: 45%;
     } 

}

@media only screen and (min-width: 40em) {
    
    .billboard {
        background-color: #efefef;
        color:black;
        padding:1.6rem 8rem 1rem;
    }
    
    .jivelogo {
        float:left;
        display: inline;
        margin: 1.5rem 1.5rem;
        width: auto;
    }
    
      .nav ul{
        margin:4.3rem 0 0;
        width:100%;
        
    }
    
    .circle3,
    .circletype3{
        margin: -.5rem auto 1rem;
    }
    
        
    .circlecenter{
        margin:-5rem auto .5rem;
    }

    
    .list {
        text-align: center;
        list-style-type: none;
        padding-bottom: 0;
    }
    
    .nav-btm ul{
        margin: 1rem auto 0;
    }
    
    .nav-btm ul li {
        display: inline-block;
        width:30%
    }
    
    .signup {
     background-color: #a00;   
    }
    
    .tellmemore{
    color:#A00;
    
    }
    
    .bubble{
        float:left;
        margin:0 -3rem 0;
    }

    
}


@media only screen and (min-width: 60em) {
    
    
     .billboard {
        background-color: #efefef;
        color:black;
        padding:1.6rem 15rem 1rem;
    }
    
    .jivelogo {
        float:left;
        display: inline;
        margin: 1.5rem 1.5rem;
        width: auto;
    }
    
    .nav {
        float:right;
        
    }
    
    .nav ul{
        margin:3.8rem 0 0;
        width:100%;
        
    }    
    
     .nav ul li {
     width: 10rem;
    } 
    
    .nav-btm {
        float:right;
    }
    
    .nav-btm ul{
        margin: 1rem auto 0;
    }
    
      .nav-btm ul li {
        display: inline-block;
        width:30%
    }
    
    .innerbody {
        margin:0rem 5rem 0rem;
    }
    
    .circlecenter{
        margin:0 auto .5rem;
    }
    
    .legal{
        margin:3rem 0 0 1.5rem;
        float:left;
    }
}


.friends {
    width: 100%;
    padding: 8rem 0;
    position: relative;
    background-image: url(../images/music.jpg);
    background-size: cover;
    overflow: hidden;
}

.sunset {
    width: 100%;
    padding: 8rem 0;
    position: relative;
    background-image: url(../images/sunset2.jpg);
    background-size: cover;
    overflow: hidden;
}

.boat {
    width: 100%;
    padding: 8rem 0;
    position: relative;
    background-image: url(../images/boat.jpg);
    background-size: cover;
    overflow: hidden;
}

img {
    display:block;
    width:100%;
}



.playlists {
    padding-left:0;
    padding-right: 0;
    list-style-type: none;
   
}

.playlists a {
    text-align:center;
    text-decoration:none;
    list-style-type: none;
    text-align:center;
    color: #614D37;
    overflow: hidden;
    font-family: 'Open Sans Condensed', sans-serif;
}

.playlists figure {
    padding-left: 0;
    margin-bottom: 0;

}

.playliststyle {
    margin: 0 .5rem 0;
}


.footer{
    padding: 0 0 5rem 0;
    overflow: hidden;
}

.legal{
    text-align: center;
    color:white;
}

h1,h2,h3 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: capitalize; 
}


